@use "../../styles/variables" as v;

.filter_and_sort {
  display: flex;
}

.list {
  max-width: var(--container-width);
  margin: 25px auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
}

@media (max-width: #{v.$breakpoint-desktop}) {
  .list {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
}

@media (max-width: #{v.$breakpoint-tablet}) {
  .list {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: #{v.$breakpoint-mobile}) {
  .list {
    grid-template-columns: 1fr;
  }
}
