@use "../../styles/variables" as v;

header {
  color: v.$font-color-primary;

  .main_container {
    max-width: var(--container-width);
    padding: 20px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .title_wrapper {
      width: 60%;
      display: flex;
      align-items: center;
      gap: 20px;

      img {
        width: clamp(30px, 50px, 50px);
      }
    }

    nav {
      width: 40%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;

      a {
        text-decoration: none;
        color: inherit;
      }

      button {
        cursor: pointer;
        padding: 10px;
        background-color: v.$background-color-secondary;
        color: v.$font-color-primary;
        border: none;
        border-radius: 10px;

        &:hover {
          scale: 1.2;
          transition: 0.3s ease;
        }
      }
    }
  }
}

@media (max-width: #{v.$breakpoint-mobile}) and (orientation: portrait) {
  header {
    .main_container {
      .title_wrapper {
        img {
          width: 30px;
        }
        h2 {
          font-size: medium;
        }
      }
      nav {
        font-size: small;
      }
    }
  }
}
